@mixin font-styles($fontSize, $fontFamily, $color){
    font-size: $fontSize;
    font-family: $fontFamily , Arial, Helvetica, sans-serif;
    color: $color;
}

@mixin flex($display, $align-items, $justify-content){
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}